* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg-main);
  padding-top: 174px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 350px;
  margin: auto;
  padding: 0 44px;
  padding-bottom: 30px;
  background: var(--color-bg-secondary);
  border-radius: 20px;
}

.container hr {
  height: 2px;
  width: 100%;
  border: none;
  background: var(--color-bg-main);
  margin: 20px 0;
}