:root {
  --color-bg-main: #29313f;
  --color-bg-secondary: #fff;
  --color-bg-input: #edeef0;

  --color-typo-main: #14183e;
  --color-typo-secondary: #404040;

  --color-link: #ffffff;

  --color-accent-main: #ff6739;
}
