.todo {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 732px;
  margin: auto;
  margin-top: 174px;
  margin-bottom: 100px;
  padding: 0 44px;
  padding-bottom: 30px;
  background: var(--color-bg-secondary);
  border-radius: 20px;
}

.todo-header {
  margin-top: 84px;
  font-size: 36px;
  font-weight: 600;
  line-height: 34px;
  color: var(--color-typo-main);
}

.todo-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.todo-input {
  outline: none;
  width: 576px;
  height: 80px;
  padding-left: 35px;
  background: var(--color-bg-input);
  border: none;
  border-radius: 50px;
  font-size: 20px;
}

.todo-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 80px;
  margin-left: -100px;
  background: var(--color-accent-main);
  cursor: pointer;
  border-radius: 50px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-bg-secondary);
}
