.quiz-title {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 34px;
  color: var(--color-typo-main);
}

.quiz-question {
  font-size: 27px;
  font-weight: 500;
  margin: 20px 0 30px;
}

.quiz-option {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 20px;
  padding-left: 15px;
  cursor: pointer;
  border: 1px solid var(--color-bg-main);
  border-radius: 8px;
  font-size: 20px;
}

.quiz-btn {
  width: 250px;
  height: 80px;
  margin: 20px auto;
  background: var(--color-accent-main);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-bg-secondary);
}

.quiz-index {
  margin: auto;
  font-size: 18px;
}

.wrong {
  background: var(--color-error);
  border-color: var(--color-error);
}

.correct {
  background: var(--color-success);
  border-color: var(--color-success);
}
